<div class="container">

  <h2 class="welcome_user">Hello {{username}}!</h2>
  <img class="user_image" src="{{link}}" alt="User image" />

    <h2 class="center total_issues_count">Total Issues:</h2>

    <p class="center open_close_count"><span class="issue_count closed">Closed: {{{totalClosed issues}}}</span><span class="issue_count open">Open: {{{totalOpen issues}}}</span></p>

    <ul class="tabs">
      <li class="tab-item"><a href="javascript:void(0)" class="tablink" onclick="openTab(event, 'today')">Today</a></li>
      <li class="tab-item"><a href="javascript:void(0)" class="tablink" onclick="openTab(event, 'last_week')">Last Week</a></li>
      <li class="tab-item"><a href="javascript:void(0)" class="tablink" onclick="openTab(event, 'month')">Month</a></li>
    </ul>

    <div id="today" class="tabcontent center">
      <div class="closed_left">
        <p class="closed">Closed</p>
        <ul>
          {{{filterByToday issues "closed"}}}
        </ul>
      </div>
      <div class="open_right">
        <p class="open">Open</p>
        <ul>
          {{{filterByToday issues "open"}}}
        </ul>
      </div>
    </div>

    <div id="last_week" class="tabcontent center">
      <div class="closed_left">
        <p class="closed">Closed</p>
        <ul>
          {{{filterByWeek issues "closed"}}}
        </ul>
      </div>
      <div class="open_right">
        <p class="open">Open</p>
        <ul>
          {{{filterByWeek issues "open"}}}
        </ul>
      </div>
    </div>

    <div id="month" class="tabcontent center">
      <div class="closed_left">
        <p class="closed">Closed</p>
        <ul>
          {{{filterByMonth issues "closed"}}}
        </ul>
      </div>
      <div class="open_right">
        <p class="open">Open</p>
        <ul>
          {{{filterByMonth issues "open"}}}
        </ul>
      </div>
    </div>
  </div>
</div>
