<h2 class="welcome_user">Hello William Savage!</h2>
{{!-- <h2 class="welcome_user">Hello {{username}}!</h2> --}}
<img class="user_image" src="https://avatars.githubusercontent.com/u/15717822?v=3" alt="User image" />
{{!-- <img class="user_image" src="{{link}}" alt="User image" /> --}}

<p>Total Issues:{{{totalIssues issues}}}</p>

<<<<<<< HEAD
<p>Closed: 56</p>
<p>Open: 5</p>
{{!-- <p>Closed: {{totalClosed}}</p>
<p>Open: {{totalOpen}}</p> --}}
=======
<p>Closed: {{totalClosed issues}}</p>
<p>Open: {{totalOpen issues}}</p>
>>>>>>> 5471bf039544a0171c1dd3725b788dbc3f5868c7

<ul class="tabs">
  <li class="tab-item"><a href="javascript:void(0)" class="tablink" onclick="openTab(event, 'Today')">Today</a></li>
  <li class="tab-item"><a href="javascript:void(0)" class="tablink" onclick="openTab(event, 'Last Week')">Last Week</a></li>
  <li class="tab-item"><a href="javascript:void(0)" class="tablink" onclick="openTab(event, 'Month')">Month</a></li>
</ul>

{{#each issues}}
  <p>{{this.title}}
{{/each}}

<div id="today" class="tabcontent">
  <p>Today closed</p>
  <ul class="closed_issues">
<<<<<<< HEAD
    <li>Found a bug <time>2016-11-30T17:42:27Z</time></li>
  </ul>
  <p>Open</p>
  <ul class="open_issues">
    <li>tralalalala <time>2016-11-30T17:42:27Z</time></li>
  </ul>
</div>

<div id="last_week" class="tabcontent">
  <p>Closed</p>
  <ul class="closed_issues">
  <li>Found a bug1 <time>2016-11-30T17:42:27Z</time></li>
  <li>Found a bug2  <time>2016-11-30T17:42:27Z</time></li>
  </ul>
  <p>Open</p>
  <ul class="open_issues">
    <li>tralalalala111 <time>2016-11-30T17:42:27Z</time></li>
    <li>tralalalala112 <time>2016-11-30T17:42:27Z</time></li>
  </ul>
</div>

<div id="month" class="tabcontent">
  <p>Closed</p>
  <ul class="closed_issues">
    <li>Found a bug <time>2016-11-30T17:42:27Z</time></li>
    <li>Found a bug1 <time>2016-11-30T17:42:27Z</time></li>
    <li>Found a bug2  <time>2016-11-30T17:42:27Z</time></li>
  </ul>
  <p>Open</p>
  <ul class="open_issues">
    <li>tralalalala111 <time>2016-11-30T17:42:27Z</time></li>
    <li>tralalalala112 <time>2016-11-30T17:42:27Z</time></li>
    <li>tralalalala111 <time>2016-11-30T17:42:27Z</time></li>
    <li>tralalalala112 <time>2016-11-30T17:42:27Z</time></li>
  </ul>
</div>

{{!-- <div id="today" class="tabcontent">
  <p>Closed</p>
  <ul class="closed_issues">
    {{#each todayClosedIssues}}
    <li>{{this}}</li>
    {{/each}}
=======
    {{{sortByToday issues "closed"}}}
>>>>>>> 5471bf039544a0171c1dd3725b788dbc3f5868c7
  </ul>
  <p>Today open</p>
  <ul class="open_issues">
    {{{sortByToday issues "open"}}}
  </ul>
</div>

<div id="last_week" class="tabcontent">
  <p>This week closed</p>
  <ul class="closed_issues">
    {{{sortByWeek issues "closed"}}}
  </ul>
  <p>This week open</p>
  <ul class="open_issues">
    {{{sortByWeek issues "open"}}}
  </ul>
</div>

<div id="month" class="tabcontent">
  <p>This month closed</p>
  <ul class="closed_issues">
    {{{sortByMonth issues "closed"}}}
  </ul>
  <p>This month open</p>
  <ul class="open_issues">
    {{{sortByMonth issues "open"}}}
  </ul>
</div> --}}
