<h2 class="welcome_user">Hello {{username}}!</h2>
<img class="user_image" src="{{link}}" alt="User image" />

<p>Total Issues:{{{totalIssues issues}}}</p>

<p>Closed: {{totalClosed issues}}</p>
<p>Open: {{totalOpen issues}}</p>

<ul class="tabs">
  <li class="tab-item"><a href="javascript:void(0)" class="tablink" onclick="openTab(event, 'Today')">Today</a></li>
  <li class="tab-item"><a href="javascript:void(0)" class="tablink" onclick="openTab(event, 'Last Week')">Last Week</a></li>
  <li class="tab-item"><a href="javascript:void(0)" class="tablink" onclick="openTab(event, 'Month')">Month</a></li>
</ul>

{{#each issues}}
  <p>{{this.title}}
{{/each}}

<div id="today" class="tabcontent">
  <p>Today closed</p>
  <ul class="closed_issues">
    {{{sortByToday issues "closed"}}}
  </ul>
  <p>Today open</p>
  <ul class="open_issues">
    {{{sortByToday issues "open"}}}
  </ul>
</div>

<div id="last_week" class="tabcontent">
  <p>This week closed</p>
  <ul class="closed_issues">
    {{{sortByWeek issues "closed"}}}
  </ul>
  <p>This week open</p>
  <ul class="open_issues">
    {{{sortByWeek issues "open"}}}
  </ul>
</div>

<div id="month" class="tabcontent">
  <p>This month closed</p>
  <ul class="closed_issues">
    {{{sortByMonth issues "closed"}}}
  </ul>
  <p>This month open</p>
  <ul class="open_issues">
    {{{sortByMonth issues "open"}}}
  </ul>
</div>
