<div class="container">

  {{!-- <h2 class="welcome_user">Hello William Savage!</h2> --}}
  <h2 class="welcome_user">Hello {{username}}!</h2>
  {{!-- <img class="user_image" src="https://avatars.githubusercontent.com/u/15717822?v=3" alt="User image" /> --}}
  <img class="user_image" src="{{link}}" alt="User image" />

<div class="total-issues">


  <h2 class="center total_issues_count">Total Issues:</h2>

  <p class="center open_close_count"><span class="issue_count">Closed: {{totalClosed}}</span><span class="issue_count">Open: {{totalOpen}}</span></p>
  {{!-- <p>Closed: {{totalClosed}}</p>
  <p>Open: {{totalOpen}}</p> --}}

  <ul class="tabs">
    <li class="tab-item"><a href="javascript:void(0)" class="tablink" onclick="openTab(event, 'today')">Today</a></li>
    <li class="tab-item"><a href="javascript:void(0)" class="tablink" onclick="openTab(event, 'last_week')">Last Week</a></li>
    <li class="tab-item"><a href="javascript:void(0)" class="tablink" onclick="openTab(event, 'month')">Month</a></li>
  </ul>

  <div id="today" class="tabcontent center">
    <div class="closed_left">
      <p>Closed</p>
      <ul>
        {{#each todayClosedIssues}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="open_right">
      <p>Open</p>
      <ul>
        {{#each todayOpenIssues}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </div>

  <div id="last_week" class="tabcontent center">
    <div class="closed_left">
      <p>Closed</p>
      <ul>
        {{#each todayClosedIssues}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="open_right">
      <p>Open</p>
      <ul>
        {{#each todayOpenIssues}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </div>

  <div id="month" class="tabcontent center">
    <div class="closed_left">
      <p>Closed</p>
      <ul>
        {{#each todayClosedIssues}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="open_right">
      <p>Open</p>
      <ul>
        {{#each todayOpenIssues}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
</div>
